In [2]:
print('hi')

hi

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [8]:
df = pd.read_csv('data/constructor_standings.csv')
df.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  13051 non-null  int64
 1   raceId                  13051 non-null  int64
 2   constructorId           13051 non-null  int64
 3   points                  13051 non-null  float64
 4   position                13051 non-null  int64
 5   positionText            13051 non-null  object
 6   wins                    13051 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 713.9+ KB

In [13]:
df.shape

(13051, 7)

In [17]:
new_df = df[df['raceId'].between(10,11)]
new_df

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
3868,8692,10,23,114.0,1,1,6
3869,8693,10,1,28.0,5,5,1
3870,8694,10,7,38.5,4,4,0
3871,8695,10,4,13.0,7,7,0
3872,8696,10,3,25.5,6,6,0
3873,8697,10,5,5.0,9,9,0
3874,8698,10,10,0.0,10,10,0
3875,8699,10,2,8.0,8,8,0
3876,8700,10,9,98.5,2,2,3
3877,8701,10,6,40.0,3,3,0
3878,8702,11,23,126.0,1,1,7
3879,8703,11,1,41.0,4,4,1
3880,8704,11,7,38.5,5,5,0
3881,8705,11,4,16.0,7,7,0
3882,8706,11,3,29.5,6,6,0
3883,8707,11,5,5.0,9,9,0
3884,8708,11,10,0.0,10,10,0
3885,8709,11,2,9.0,8,8,0
3886,8710,11,9,98.5,2,2,3
3887,8711,11,6,46.0,3,3,0